<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <h1>Test project</h1>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false">
          format_color_fill
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Dark</button>
        <button mat-menu-item>White</button>
        <button mat-menu-item>🔥Custom Fun🔥</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
